/* Revamped CSS Part 2 */
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: green;
}
#main {
    background: url(../img/jomb.png) 
}
#main-center {
    text-align: center;
    background: #ffc100;
}
/*/////////////////*/
/*Button Code*/
/*/////////////////*/
.Buttons {
    transition-duration: 0.4s;
    opacity: 0.5;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.Buttons::after {
    content: " >>";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    top: -5;
    right: -6px;
}

button:hover .Buttons {
    opacity: 1;
    padding-right: 32px;
}

button:hover .Buttons::after {
    opacity: 1;
    right: 0;
}
/*/////////////////
Link Navigator
/////////////////*/
.BSE {
    transition-duration: 0.4s;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

/*/////////////////
Hidden Texts of Index
/////////////////*/
#hiddentext1 {
    visibility: hidden;
 }
 
#hiddentext2{
    height: 400px;
    font-size: 12pt;
    font: caption;
    font-size: larger;
}

.hiddentext2-1 {
    visibility: hidden;
}
/*/////////////////
   EVENT SECTION
/////////////////*/
#christmas {
    /* background: url(https://i.vgy.me/qwX4Jz.png); */
    background: url(../img/jomb.png);
    color: white;
}

#school {
    background: url(../img/jomb.png);
    color: black;
}
/*/////////////////
INTRO SECTION
/////////////////*/
#img-joshua {
    width:700px; 
    height:200px;
}
.all-text {
    font-size:32px;
}
/*/////////////////
Table of Content Navbar
/////////////////*/     
.sticky-navbar {
    top:0;
    position:sticky
    }
.table-content-navbar {
    border: 2px solid black;
    display: inline-block;
    margin:auto;
    padding: 10px;
    background-color:rosybrown;
    }
.dropdown-tc .dd-button {
        cursor: pointer;
        font-size: 32px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
.table-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.show-dd {
    display: block;
  }