/*need to add something here to put in github 
as there's no style for now*/
.BS {
    transition-duration: 0.4s;
    opacity: 0.5;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.BS::after {
    content: " >>";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    top: -5;
    right: -6px;
}

button:hover .BS {
    opacity: 1;
    padding-right: 32px;
}

button:hover .BS::after {
    opacity: 1;
    right: 0;
}

/*For the experimental stuff below*/

body {
    margin: 0;
    padding: 0;
}

#Header {
    height: 200px;
    background: url(https://i.vgy.me/Zziv6U.png) repeat-x;
    background-size: 200px;
}

#Content {
    height: 300px;
    background-color: #FF0000;
    border: 1px solid #999;
    font-size: 12pt;
}

#Content p {
    margin: 20px;
}

#Footer {
    height: 200px;
    background: url(https://i.vgy.me/uGaxdW.png) repeat-x;
    text-align: center;
    font-size: 14pt;
    background-size: 200px;
}

#HM {
    height: 300px;
    background-color: #FFFFFF;
}

#ABS {
    height: 400px;
    font-size: 12pt;
    font: caption;
    border: 1px solid #999;
}

#BB {
    height: 200px;
    background-color: #1A3BD0;
}

#NP1 {
    font: caption;
    font-size: 16px;
    height: auto;
}

#BP {
    background-color: darkred;
}

#MA1 {
    font-size: xx-large;
}

#MA2 {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    max-width: fit-content;
    max-height: fit-content;
}