/* Revamped CSS */
#Q {
   visibility: hidden;
}

/*Seperation for cleanliness */
#E {
    display: none;
}

/*Seperation for cleanliness */

.B {
    transition-duration: 0.4s;
    opacity: 0.5;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.B::after {
    content: " >>";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    top: -5;
    right: -6px;
}

button:hover .B {
    opacity: 1;
    padding-right: 32px;
}

button:hover .B::after {
    opacity: 1;
    right: 0;
}

/*Seperation for cleanliness */

/*
.C {
    transition-duration: 0.4s;
    opacity: 0.5;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.C::after {
    content: " >>";
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    top: -5;
    right: -6px;
}

button:hover .C {
    opacity: 1;
    padding-right: 32px;
}

button:hover .C::after {
    opacity: 1;
    right: 0;
}
*/

/*Seperation for cleanliness */

#K{
    height: 400px;
    font-size: 12pt;
    font: caption;
    font-size: larger;
}

.K1 {
    visibility: hidden;
}