body {
    margin: 0;
    padding: 0; 
}
#Header {
    height: 200px;
    background: url(https://i.vgy.me/rGAPNn.png) repeat-x;
}
#Content {
    height: 300px;
    background-color: #00ff21;
    border: 1px solid #999;
    font-size: 12pt;
}
#Content p {
    margin: 20px;
}
#Footer {
    height: 200px;
    background: url(https://i.vgy.me/BlygbK.png) repeat-x;
    text-align: center;
    font-size: 14pt;
}
#HM {
    height: 300px;
    background-color: #FFFFFF;
}
