body {
    margin: 0;
    padding: 0; 
}
#Header {
    height: 200px;
    background: url(https://i.vgy.me/rGAPNn.png) repeat-x;
}
#Content {
    height: 300px;
    background-color: #00ff21;

}